*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    height: 5vh;
    width: 100px;
    text-align: center;
}

.header{
    /* border: 2px dashed red; */
    border-radius: 1%;
    align-content: center;
    text-align: center;
    height: 75px;
    background-color: rgb(150, 198, 240);
    position: sticky;
    top:0;
}

#one{
    align-items: end;
    display: inline-flex;
}

.content{
  height: 45vh;
  width: 100vw;
  background-color: rgb(1, 65, 121);
}
.two{
    height: 39vh;
    width: 60vw;
    background-color: rgb(143, 45, 45);
    padding: 25px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.intro{
    font-size: 30px;
    color: rgb(234, 234, 240);

}

.three{
    width: 50vw;
    padding-left: 30vw;
    background-color: white;
}